body {
    margin:0;     /* This is used to reset any browser-default margins */
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;  /* As above. */
}

h1, h2 { 
   font-size: 18pt;
   font-family: Helvetica, calibri, arial, sans-serif;
   margin: 5px;
   display: inline;
}

#input, .awesomplete > ul  {
  font-size: 16pt;
  font-family: Helvetica, calibri, arial, sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.centered {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
   font-family: Helvetica, calibri, arial, sans-serif;
   font-size: 10pt;
}


.axis--x path {
  display: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Helvetica, calibri, arial, sans-serif;
  font-size: 12px;
  position:absolute;

}
svg {
  font-size: 10px;
  font-family: Helvetica, calibri, arial, sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

div.tooltip { 
  position: absolute;     
  pointer-events: none;     
  font-family: Helvetica, calibri, arial, sans-serif;
}

text {
  pointer-events: none;
}

#buttons {
  position: absolute;
  top:0;
  left:0;
}

circle.ring {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: .15;

}

::-webkit-input-placeholder { /* WebKit browsers */
  color: black;
  opacity: 1 !important;
}