body {
    margin:0;     /* This is used to reset any browser-default margins */
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;  /* As above. */
}

h1, h2 { 
   font-size: 18pt;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-style: normal;
   color: #818181;
   margin: 5px;
   display: inline;
}

#input, .awesomplete > ul  {
  font-size: 16pt;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-style: normal;
   color: #818181;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.centered {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.axis path, .axis line {
    fill: transparent;
    stroke: black !important;
    shape-rendering: crispEdges;
    stroke-width: 1.5;
}

.axis text {
   font-size: 10pt;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-style: normal;
   color: #818181;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-size: 11pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  color: #818181;
  position:absolute;

}
svg {
  font-size: 11pt;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-style: normal;
   color: #818181;
}

.area {
  stroke: transparent;
  fill: steelblue;
  clip-path: url(#clip);
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

div.tooltip { 
  position: absolute;     
  pointer-events: none;     
  font-size: 11pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
}

text {
  pointer-events: none;
}

#buttons {
  position: absolute;
  top:0;
  left:0;
}

circle.ring {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: .15;

}

::-webkit-input-placeholder { /* WebKit browsers */
  color: black;
  opacity: 1 !important;
}

.datamaps-hoverover {
  font-size: 11pt !important;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

.hoverinfo {
  font-size: 11pt !important;
}

html {
  overflow: hidden;
}