h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}


.axis--x path {
  display: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}